<header id="cc-site-header">
  <div class="cc-inner-wrap">
    <a id="cc-site-banner" href="{CC_SITE_URL}"><img src="{CC_GLOBAL_THEME_URL}/img/cc-site-banner.png" alt="Christian Crew Gaming - A faith based gaming community" /></a>
    <nav id="cc-site-nav">
      <div class="menu-site-nav-container">
        <ul id="menu-site-nav" class="menu">
          <li id="menu-item-3948" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-3948"><a href="{CC_SITE_URL}">Home</a></li>
          <li id="menu-item-4009" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-4009"><a href="http://forums.ccgaming.com">Forums</a></li>
          <li id="menu-item-4012" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4012"><a href="{CC_SITE_URL}/divisions/">Divisions</a></li>
          <li id="menu-item-4032" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4032"><a href="{CC_SITE_URL}/getinvolved/">Get Involved</a></li>
          <li id="menu-item-4055" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4055"><a href="{CC_SITE_URL}/about/">About</a></li>
          <li id="menu-item-4058" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4058"><a href="{CC_SITE_URL}/contact/">Contact</a></li>
          <li><a href="http://www.galloree.com/Christian-Crew-Store-3259.htm">CC Store (NEW)</a></li>
        </ul>
      </div>
    </nav>
    <ul id="cc-social-links">
      <li class="twitter"><a href="http://twitter.com/ccgamingonline"><i class="fa fa-twitter-square"></i></a></li>
      <li class="facebook"><a href="http://facebook.com/ccgaming"><i class="fa fa-facebook-square"></i></a></li>
      <li class="steam"><a href="http://steamcommunity.com/groups/christiancrewgaming"><i class="fa fa-steam-square"></i></a></li>
      <li class="feed"><a href="http://forums.ccgaming.com/syndication.php?t=1&fid=82"><i class="fa fa-rss-square"></i></a></li>
    </ul>
  </div>
</header>

<section id="cc-page-title">
  <div class="cc-inner-wrap">
    <h1>Forums</h1>
  </div>
</section>

<div class="cc-container">
  <div class="cc-inner-wrap grid">
